/* RESET */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

/* GENERAL SETTINGS */

    .flex {
        display: flex;
    }

    .container {
        margin: 0 auto;
    }

    .container >.row {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    img {
        display: block;
        margin: auto;
        width: 100%;
    }

/* STYLE */

    .title {
        font-weight: bold;
    }

    .col-3 {
        width: calc(100% / 3);
    }

    .col-5 {
        width: calc(100% / 5);
    }

    .col-30 {
        width: 30%;
    }

    .col-40 {
        width: 40%;
    }

    .col-50 {
        width: 50%;
    }

    .col-60 {
        width: 60%;
    }

    .sharpened {
        display: block;
        padding: 0.5em 0.5em;
        color: white;
        background-color: rgba(0,97,255,255);
        width: fit-content;
    }

    /* STYLE HEADER */

        header .container {
            height: 60px;
            width: 100%;
            padding: 0 10px;
        }

        header .container >.row {
            height: 100%;
        }

        header .left >*,
        header .right >:not(.sharpened) {
            padding: 2px;
        }

        header .left,
        header .right {
            align-items: center;
        }

        header .right {
            justify-content: end;
        }

        header img {
            display: block;
            margin: auto;
            height: 30px;
        }

        /* STYLE MAIN */

        main .container >.row {
            width: 100%;
            margin: 0 auto;
        }

        main .container {
            width: 65vw;
        }

        main section {
            padding: 50px 0;
        }

        /* STYLE hero */

            section.hero {
                background-color: rgba(180,208,231,255);
            }

            .container.hero {
                width: 80vw;
            }

            .container.hero >.row {
                flex-direction: column;
            }

            .hero .title {
                font-size: 80px;
                padding-bottom: 50px;
            }

            .hero .text {
                justify-content: space-between;
                flex-direction: column;
            }

            .hero .text .hook {
                padding-right: 20px;
            }

        /* STYLE offer */

            .container.offer >.row {
                width: 100%;
                flex-direction: column;
            }

            .offer .row >.title {
                font-size: 40px;
            }

            .offer .radio {
                padding: 20px 0;
            }

            .plans.flex {
                align-items: stretch;
                flex-wrap: wrap;
                width: calc(100% + 20px);
                align-self: end;
            }

            /* STYLE plans */

                .offer .card {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                }

                .offer .card .target,
                .offer .card .info {
                    border-left: solid grey 1px;
                    border-right: solid grey 1px;
                    padding: 15px;
                }

                .offer .card .info {
                    border-top: solid grey 1px;
                }

                .offer .card .target {
                    text-align: center;
                    border-top: solid grey 1px;
                }

                .offer .card .info {
                    border-bottom: solid grey 1px;
                    flex-grow: 2;
                }

                .offer .card .info >*:not(.sharpened) {
                    padding: 20px 10px;
                }

                .offer .card .info .head {
                    line-height: 30px;
                }

                .offer .card .info .type {
                    font-size: 28px;
                }

                .offer .card .info .type,
                .offer .card .info .price {
                    font-weight: bold;
                }

                .offer .card .info .cadency {
                    color: grey;
                }

                .offer .card .info .fa-ul {
                    margin-left: 2em;
                }

                .offer .card .info .fa-ul li {
                    padding: 10px 0;
                }

                .offer .card .info .try {
                    width: 85%;
                    margin: auto;
                }

                .offer .card .info .buy {
                    padding: 30px 10px;
                }

                .offer .plans .card .info hr {
                    width: 30%;
                    padding: 0;
                    border-top: 0.5px solid grey;

                }

                .offer .plans .card .highlights div {
                    margin: 20px 0px;
                    font-weight: bold;
                }

                .offer .plans .card .highlights ul ::marker {
                        content: '\2713   ';
                        font-size: 1.2em;
                        font-weight: bold;
                        color: green;
                }

                .offer .enterprise.card {
                    width: 100%;
                }

                .offer .enterprise.card .info {
                    line-height: 30px;
                    position: relative;
                }

                .offer .enterprise.card button {
                    position: absolute;
                    right: 20px;
                    top: 20px;
                }

            /* STYLE partner */

                .offer .partner {
                    padding-top: 150px;
                }

                .offer .partner .text {
                    padding: 40px;
                }

                .offer .partner .text .title {
                    font-size: 28px;
                }

                .offer .partner .text .hook {
                    padding: 30px 0;
                }

                .offer .partner .text button {
                    background-color: white;
                    color: black;
                    width: 50%;
                }

        /* STYLE features */

            .container.features >.title {
                font-size: 40px;
                padding-bottom: 50px;
            }

            .container.features >.row {
                flex-wrap: wrap;
            }

            .features .row >* {
                flex-direction: column;
            }

            .features .row .col-3 {
                padding: 30px;
            }

            .features .col-3 .title {
                padding: 30px 0;
                font-size: 20px;
            }

        /* STYLE stories */

            .stories .title {
                font-size: 50px;
                padding-bottom: 50px;
                padding-right: 25%;
            }

            section.stories {
                padding: 50px 0;
            }

        /* STYLE team */

            section.team {
                padding-bottom: 0;
            }
            
            .container.team {
                width: 100%;
            }

            .team .row .left div,
            .team .row .right div {
                width: 50%;
                aspect-ratio: 1/1;
                text-align: center;
                display: flex;   
                justify-content: center;
            }

            .team .col-3.center {
                background-color: beige;
                padding: 25px;
            }

            .team .row .center .title .big {
                font-size: 50px;
            }

            .team .row .center >*:not(.title) {
                padding-top: 10px;
            }

            .team .left,
            .team .right {
                flex-wrap: wrap;
            }

            .team .row .left img,
            .team .row .right img {
                width: 50%;
                filter: invert(100%);
            }

            .team .red {
                background-color: red;
            }
            .team .purple {
                background-color: purple;
            }
            .team .lightblue {
                background-color: lightskyblue;
            }
            .team .superlightblue {
                background-color: lightblue;
            }
            .team .bordeaux {
                background-color: brown;
            }
            .team .blue {
                background-color: blue;
            }
            .team .yellow {
                background-color: yellow;
            }
            .team .green {
                background-color: rgb(57, 156, 57);
                position: relative;
            }
            .team .green div.greener{
                background-color: green;
                position: absolute;
                width: 90%;
                align-self: center;
            }



        /* STYLE calltoaction */

            section.calltoaction {
                background-color: rgba(180,208,231,255);
            }

            .container.calltoaction .row {
                justify-content: space-between;
                align-items: center;
            }

            .container.calltoaction .row .title {
                font-size: 35px;
                padding: 50px 0;
                color: rgba(97,8,43,255);
            }

            .calltoaction button {
                display: block;
                padding: 0.7em;
                color: black;
                background-color: rgb(222, 222, 231);
                width: 30%;
            }

            /* STYLE faq */

            .container.faq .row {
                flex-direction: column;
            }
            
            .container.faq .row .title {
                font-size: 35px;
                padding: 50px 0;
            }

            .container.faq .row .question {
                padding-right: 25px;
                justify-content: space-between;
                border-top: solid grey 1px;
            }

            .container.faq .row i,
            .container.faq .row .question span {
                line-height: 70px;
            }

            /* STYLE footer */

            footer {
                background-color: rgba(0,0,0,255);
                color: white;
            }

            footer .container {
                width: 70vw;
                padding: 30px 0;
            }

            footer .container .row {
                width: 100%;
                flex-direction: column;
            }

            footer .container .nav {
                padding: 50px 0px;
            }

            footer .container .nav ul :first-child {
                font-size: 20px;
                font-weight: bold;
                padding-bottom: 10px;
            }

            footer .container .nav ul :not(:first-child) {
                font-size: 14px;
                padding-top: 15px;
            }

            footer .container .language {
                width: fit-content;
                padding-top: 20px;
                border-top: solid grey 1px;
            }

            footer .container .language .globe {
                padding-right: 10px;
            }


/* DEBUG */

.debug .container .row >* {
    border: dashed black 1px;
}

.debug .flex >* {
    border: dashed black 1px;
}